/* Contact Section General Styles */
.contact-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Contact Info */
  .contact-info {
    text-align: left;
    max-width: 600px;
  }

  select{
    padding: 5px;
    outline: none;
  }
  .contact-info h2 {
    font-size: 36px;
    color: var(--brighter);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-info p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .contact-details {
    font-size: 16px;
    color: #333;
  }
  
  .contact-details p {
    margin-bottom: 10px;
  }
  
  .contact-details strong {
    color: var(--brighter);
  }

  /* Contact Form */
.contact-form {
  max-width: 600px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--brighter);
  outline: none;
}

button[type="submit"] {
  background-color: var(--primary);
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: var(--accent-color);
}
  
  
  
  /* Map Section */
  .map {
    text-align: center;
  }
  
  .map img {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .success-message{
    color: green;
  }
  
  /* Responsiveness */
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .contact-info,
    .contact-form {
      flex: 1;
    }
  
    .map {
      flex: 1;
      padding-top: 30px;
    }
  }
  